@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.welcome {
    text-align: center;
    padding: 20px 20px 20px 20px;
    background: linear-gradient(300deg, #032830, #000E1B, #73FBFD);
    background-size: 200% 200%; 
    animation: gradient-animation 30s ease infinite;
    border-radius: 5px;
}

.welcome h2 {
    color: white;
    font-size: 24px;
    font-style: normal;
}
  
.welcome h5 {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}