/* Keyframes for gradient animation */
@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Welcome section styles */
.welcome {
  text-align: center;
  padding: 20px;
  background: linear-gradient(300deg, #032830, #000E1B, #73FBFD);
  background-size: 200% 200%; 
  animation: gradient-animation 30s ease infinite;
  border-radius: 5px;
}

.welcome h2 {
  color: white;
  font-size: 24px;
  font-style: normal;
}

.welcome h5 {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}

html, body {
  scroll-behavior: smooth; 
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

#mainContainer {
  height: 100vh;
  scroll-snap-type: y mandatory; 
  overflow-y: scroll;
}

#welcomeSection, #faqSection {
  scroll-snap-align: start; 
  height: 100vh; 
}

#welcomeSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

#faqSection {
  padding-top: 50px;
}
