<div class="container-fluid">
    <div class="d-flex flex-row justify-content-center align-items-center" style="height: 100vh;">
        <div class="text-center">
        <h1>ToDoList</h1>
        <div class="mt-5">
            <img src="static/images/transparentlogo.png" class="img-fluid w-50 mx-auto" alt="logo">
        </div>
        <div class="mt-5">
            <button class="btn btn-outline-light mx-2">Login</button>
            <button class="btn btn-outline-light mx-2">Signup</button>
        </div>
        </div>
    </div>
</div>