<div>
    <app-navbar></app-navbar>
  
    <div class="container vh-99 mt-5">
      <div class="container text-dark-emphasis d-flex align-items-center justify-content-center flex-column" style="margin-top: 9vh">
        <hr>
        <h5 class="text-white text-center">{{ username }}'s Dashboard</h5>
      </div>
    </div>
  
    <div class="container-fluid">
      <div class="container">
        <div class="container-fluid py-2">

          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <div *ngIf="this.emptyLists" class="container-fluid mb-3 mt-2">
              <h3 class="text-white" style="text-align:center">No lists exist, create a new list</h3>
            </div>
  
            <div class="card-group m-3 rounded" *ngFor="let list of allTodoLists" style="background-color:001a33;">
              <div>
                <div class="card" style="width: 25rem; text-align: center; height:65vh; background-color:transparent">
                  <div style="overflow-y :auto;">
                    <div class="card-body" style="background-color:transparent; border: 5px solid transparent;">
                      <h5 class="card-title text-white">{{ list.name }}</h5>
                      <button class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#editList" (click)="selectList(list)">Edit</button>
                      <button class="btn btn-outline-success btn-sm ms-2 me-2" data-bs-toggle="modal" data-bs-target="#addItem" (click)="selectList(list)">Add item</button>
                      <button class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteList" (click)="selectList(list)">Delete</button>
                      <br />
                      <hr>
                      <div *ngFor="let item of allTodoItems">
                        <div class="card-text m-auto" *ngIf="item.list_id==list.id">
                          <ul class="list-group list-group-flush">
                            <div style="text-align: center;">
                              <li class="list-group-item mb-2" style=" display: flex; justify-content: center;">
                                <div class="card" style="width: 18rem;">
                                  <div class="card-body border rounded">
                                    <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="CompleteItem" 
                                        #completeCheckbox *ngIf="item.date_completed==null" 
                                        data-bs-toggle="modal" data-bs-target="#markItem" 
                                        title="Mark as done" style="cursor: pointer;" (click)="selectItem(item)">
                                      <h5 class="card-title text-danger" *ngIf="this.dateCondition(item)==1">
                                        {{item.title}}
                                        <i class="fas fa-exclamation-triangle" style="color: red;"></i>
                                      </h5>
                                      <h5 class="card-title text-warning" *ngIf="this.dateCondition(item)==2">
                                        {{item.title}}
                                        <i class="far fa-clock" style="color: orange;"></i>
                                      </h5>
                                      <h5 class="card-title text-success" *ngIf="this.dateCondition(item)==3">
                                        <s>{{item.title}}</s>
                                        <i class="fas fa-check"></i>
                                      </h5>
                                    </div>
                                    <h6 class="card-title text-white">Created: {{item.date_created.slice(4).slice(0,-7)}}</h6>
                                    <h6 class="card-title text-white" *ngIf="item.date_completed==null">Goal: {{item.date_goal.slice(4).slice(0,-7)}}</h6>
                                    <h6 class="card-title text-white" *ngIf="item.date_completed!=null">Completed: {{item.date_completed.slice(4).slice(0,-7)}}</h6>
                                    <button *ngIf="item.date_completed==null" class="btn btn-outline-info me-1" data-bs-toggle="modal" data-bs-target="#editItem" (click)="selectItem(item)">Edit</button>
                                    <button class="btn btn-outline-danger ms-1" data-bs-toggle="modal" data-bs-target="#deleteItem" (click)="this.selectItem(item)">Delete</button>
                                  </div>
                                </div>
                              </li>
                            </div>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container text-center mt-4">
          <button class="btn btn-outline-success me-3" data-bs-toggle="modal" data-bs-target="#createList">Create a List</button>
          <button class="btn btn-outline-primary ms-3">Track Progress</button>
        </div>
  
        <div class="modal fade" id="editList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" data-bs-theme="dark" style="background-color:001a33;">
                <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">Edit {{this.selectedList.name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.clear()"></button>
              </div>
              <div class="modal-body text-white" style="background-color: #000e1b;">
                <div class="mb-3" data-bs-theme="dark">
                  <label for="newlistname" class="form-label">Enter updated list name</label>
                  <input type="text" class="form-control" id="editListName" [(ngModel)]="this.editListName">
                </div>
              </div>
              <div class="modal-footer" style="background-color: #000e1b;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="this.clear()">Close</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal" (click)="editList()">Edit</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal fade" id="addItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" data-bs-theme="dark" style="background-color:001a33;">
                <h1 class="modal-title text-white fs-5" id="staticBackdropLabel">Add item to {{this.selectedList.name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.clear()"></button>
              </div>
              <div class="modal-body text-white" style="background-color: #000e1b;">
                <div class="mb-3" data-bs-theme="dark">
                  <label for="newItemTitle" class="form-label">Enter title</label>
                  <input type="text" class="form-control" id="newItemTitle" [(ngModel)]="newItemTitle">
                  <br>
                  <label for="newItemDescription" class="form-label">Enter Description</label>
                  <textarea class="form-control" id="newItemDescription" [(ngModel)]="newItemDescription" aria-label="With textarea"></textarea>
                  <br>
                  <label for="newItemdate_goal" class="form-label">Enter Date Goal</label>
                  <input type="datetime-local" id="newItemdate_goal" name="newItemdate_goal" [(ngModel)]="newItemDateGoal" :min="getCurrentDateTime()">
                  <br>
                </div>
              </div>
              <div class="modal-footer" style="background-color: #000e1b;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="this.clear()">Close</button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="addItem()">Add</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal fade" id="editItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" data-bs-theme="dark" style="background-color:001a33;">
                <h1 class="modal-title text-white fs-5" id="staticBackdropLabel">Edit Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.clear()"></button>
              </div>
              <div class="modal-body text-white" style="background-color: #000e1b;">
                <div class="mb-3" data-bs-theme="dark">
                  <label for="editItemTitle" class="form-label">Enter title</label>
                  <input type="text" class="form-control" id="editItemTitle" [(ngModel)]="editItemTitle" [placeholder]="this.selectedItem.title">
                  <br>
                  <label for="editItemDescription" class="form-label">Enter Description</label>
                  <textarea class="form-control" id="editItemDescription" [(ngModel)]="editItemDescription" [placeholder]="this.selectedItem.description" aria-label="With textarea"></textarea>
                  <br>
                  <label for="editItemdate_goal" class="form-label">Enter Date Goal</label>
                  <input type="datetime-local" id="editItemdate_goal" name="editItemdate_goal" [(ngModel)]="editItemDateGoal" :min="getCurrentDateTime()" [placeholder]="this.selectedItem.date_goal">
                  <br>
                </div>
              </div>
              <div class="modal-footer" style="background-color: #000e1b;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="this.clear()">Close</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal" (click)="editItem()">Edit</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal fade" id="deleteItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" data-bs-theme="dark" style="background-color:001a33;">
                <h1 class="modal-title text-white fs-5" id="staticBackdropLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.clear()"></button>
              </div>
              <div class="modal-body text-white" style="background-color: #000e1b;">
                <div class="mb-3" data-bs-theme="dark">
                  <label for="deleteItem" class="form-label">Are you sure you want to delete this item?</label>
                </div>
              </div>
              <div class="modal-footer" style="background-color: #000e1b;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="this.clear()">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="this.deleteItem()">Delete</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal fade" id="deleteList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" data-bs-theme="dark" style="background-color:001a33;">
                <h1 class="modal-title text-white fs-5" id="staticBackdropLabel">Delete</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.clear()"></button>
              </div>
              <div class="modal-body text-white" style="background-color: #000e1b;">
                <div class="mb-3" data-bs-theme="dark">
                  <label for="deleteList" class="form-label">Are you sure you want to delete this list?</label>
                </div>
              </div>
              <div class="modal-footer" style="background-color: #000e1b;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="this.clear()">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="this.deleteList()">Delete</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal fade" id="markItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" data-bs-theme="dark" style="background-color:001a33;">
                <h1 class="modal-title text-white fs-5" id="staticBackdropLabel">Mark as Completed</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.clear()"></button>
              </div>
              <div class="modal-body text-white" style="background-color: #000e1b;">
                <div class="mb-3" data-bs-theme="dark">
                  <label for="markItem" class="form-label">Are you sure you want to mark this item as done?</label>
                </div>
              </div>
              <div class="modal-footer" style="background-color: #000e1b;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="this.clear()">Close</button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="completeTask()">Mark as Completed</button>
              </div>
            </div>
          </div>
        </div>
  
        <div class="modal fade" id="createList" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header" data-bs-theme="dark" style="background-color:001a33;">
                <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">Create a List</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.clear()"></button>
              </div>
              <div class="modal-body text-white" style="background-color: #000e1b;">
                <div class="mb-3" data-bs-theme="dark">
                  <label for="newlistname" class="form-label">Enter name of new list</label>
                  <input type="text" class="form-control" id="newlistname" [(ngModel)]="newListName">
                </div>
              </div>
              <div class="modal-footer" style="background-color: #000e1b;">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" (click)="this.clear()">Close</button>
                <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="createList()">Create</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  