<div class="container">
    <app-navbar></app-navbar>
    <div class="container vh-99 mt-5 ">
      <div class="container text-dark-emphasis d-flex align-items-center justify-content-center flex-column mb-4">
        <hr>
        <h5 class="text-white text-center">Username's Rewards</h5>
        <hr>
      </div>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide mx-auto" style="width: 80%;" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let slide of slideContent; let index = index" :key="index" :data-bs-target="'#carouselExampleIndicators'" :data-bs-slide-to="index" :class="{ 'active': index === 0 }"></li>
      </ol>      
      <div class="carousel-inner justify-content-center">
        <div *ngFor="let slide of slideContent; let index = index" :key="index" :class="{ 'carousel-item': true, 'active': index === 0 }">
          <img :src="slide.image" class="d-block w-75 h-75 mx-auto mb-3" :alt="'Reward Slide ' + (index + 1)">
          <div class="carousel-caption d-none d-md-block text-center mt-5">
            <h5 :class="{ 'white-text': index == 1,'blue-text': index == 2,'red-text': index == 3,'green-text': index == 4,'yellow-text': index == 5,'white-text': index == 6 }">{{ slide.caption }}</h5>
            <p :class="{ 'white-text': index == 1,'blue-text': index == 2,'red-text': index == 3,'green-text': index == 4,'yellow-text': index == 5,'white-text': index == 6}">{{ slide.data }}</p>
            <p :class="{ 'white-text': index == 1,'blue-text': index == 2,'red-text': index == 3,'green-text': index == 4,'yellow-text': index == 5,'white-text': index == 6}">Status: {{ calculateStatus(index) }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container text-center mt-4">
      <button class="btn btn-outline-primary mx-2 mb-4" (click)="viewScores()">View Scores</button>
      <button class="btn btn-outline-info mx-2 mb-4" (click)="toggleRewardsRow()">My Rewards</button>
    </div>

      
    <div class="container rewards-container" *ngIf="showRewardsRow">
<div class="row justify-content-center">
  <div *ngFor="let reward of rewards; let index = index" :key="index" class="col-md-4">
    <div class="card h-100 d-flex flex-column justify-content-center align-items-center custom-card" (click)="handleImageClick(index, reward.id)">
      <div class="card-body text-center">
        <img :src="reward.image" :id="'rewardImage-' + index" class="card-img-top mb-3" alt="Reward Image" style="width: 100px; height: 100px;">
        <h5 class="card-title mb-3">{{ reward.title }}</h5>
        <p class="card-text">{{ fetchStatus(reward.id) }}</p>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button *ngIf="showRewardsRow" (click)="toggleRewardsRow()" class="btn btn-danger mt-3">Close Rewards</button>
</div>
</div>

  </div>