<div class="container">
  <app-navbar></app-navbar>
  
  <!-- Header Section -->
  <div class="container text-dark-emphasis d-flex align-items-center justify-content-center flex-column mb-4 animate__animated animate__fadeInDown">
    <hr>
    <h5 class="text-white text-center">{{ username }}'s Rewards</h5>
    <hr>
  </div>

  <!-- View Scores Button -->
  <div class="text-center mb-4">
    <button class="btn btn-outline-primary mx-2 mb-4 animate__animated animate__fadeInUp" 
            style="animation-delay: 0.2s" 
            (click)="viewScores()">View Scores</button>
  </div>

  <!-- Rewards Grid -->
  <div class="container rewards-container"> 
    <div class="row justify-content-center">
      <div *ngFor="let reward of rewards; let i = index" class="col-md-4 mb-4">
        <div class="card h-100 d-flex flex-column justify-content-center align-items-center custom-card animate__animated animate__fadeInUp" 
             [style.animation-delay]="(0.3 + i * 0.1) + 's'"
             (click)="handleImageClick(i, reward.id)">
          <div class="card-body text-center">
            <img [src]="reward.image" 
                 [id]="'rewardImage-' + i" 
                 class="card-img-top mb-3 animate__animated animate__pulse animate__infinite animate__slow" 
                 alt="Reward Image" 
                 style="width: 100px; height: 100px;">
            <h5 class="card-title mb-3 animate__animated animate__fadeIn" [style.animation-delay]="(0.4 + i * 0.1) + 's'">
              {{ reward.title }}
            </h5>
            <p class="card-text animate__animated animate__fadeIn" [style.animation-delay]="(0.5 + i * 0.1) + 's'">
              {{ fetchStatus(reward.id) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>