<div>
    <app-navbar></app-navbar>
    <div class="container mb-3" style="margin-top: 9vh">
    <div class="container text-dark-emphasis d-flex align-items-center justify-content-center flex-column  ">
        <hr>
        <h5 class="text-white text-center">
            {{ username }}'s Profile</h5>
        <hr>
      </div>
      <div class="container-fluid d-flex align-items-center justify-content-center mb-3 mt-4" style="height: 50vh; ">
          <img class="border border-3 p-1" :src="this.profileImagePath" alt="Image Preview" style="max-width: 100%; max-height: 100%; object-fit: contain;">
        <br>
      </div>
      
      
      <div class="d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#imageUploadModal">Change Profile Picture</button>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <div style="width: 70vw;">
          
          <div class="d-flex align-items-center justify-content-between">
              <p class="mb-0 fs-5 text-white">email.com 
                <!-- {{this.user.email}} -->
            </p>
              <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#changeEmail"><i class="fas fa-pencil-alt"></i> Edit</button>
          </div>
        </div>
      </div>
      
    </div>


  <div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload Profile Picture</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Image upload form -->
                    <input type="file" >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Upload Image</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    
        <div class="modal fade" id="uploadSuccessful" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Success Modal -->
<div class="modal" id="uploadSuccessModal" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Upload Successful</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
            Your image has been successfully uploaded.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        </div>
    </div>
</div>
</div>

<!-- Failure Modal -->
<div class="modal" id="uploadFailureModal" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Upload Failed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
            There was an error uploading your image. Please try again.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<div class="modal" id="emailSuccessModal" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Upload Successful</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
            Your email has been successfully updated.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        </div>
    </div>
</div>
</div>

<!-- Failure Modal -->
<div class="modal" id="emailFailureModal" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Upload Failed</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
            There was an error updating your email. Please try again.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>

<div class="modal" id="changeEmail" tabindex="-1" role="dialog" >
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Email Change</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
    </div>
    <div class="modal-body">
      <label for="emailChange" class="form-label">Enter email</label>
      <input type="text" class="form-control" id="emailChange" v-model="emailChange">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
    </div>
</div>
</div>
</div>

  
  
</div>